
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });

<!--function confirmDelete(boardId) {-->
<!--    var result = confirm("정말로 삭제하시겠습니까?");-->
<!--      if (result) {-->
<!--        var deleteUrl = '/board/delete/id?' + boardId;-->
<!--        window.location.href = deleteUrl;-->
<!--  }-->
<!--}-->

</script>

<div layout:fragment="content" class="container my-3">
    <!-- 게시글 -->
    <h2 class="border-bottom py-2" th:text="${board.title}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${board.content}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${board.author != null}" th:text="${board.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a th:href="@{|/board/update/${board.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${board.author != null and #authentication.getPrincipal().getUsername() == board.author.username}"
                   th:text="수정"></a>
                <a th:data-uri="@{|/board/delete/${board.id}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${board.author != null and #authentication.getPrincipal().getUsername() == board.author.username}"
                   th:text="삭제"></a>
<!--                th:onclick="|javascript:confirmDelete('${board.id}')|"-->
            </div>
        </div>
    </div>
    <!-- 댓글 갯수 표시 -->
    <h5 class="border-bottom my-3 py-2"`
        th:text="|${#lists.size(board.commentList)}개의 댓글이 있습니다.|"></h5>
    <!-- 댓글 반복 시작 -->
    <div class="card my-3" th:each="comment : ${board.commentList}">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${comment.content}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${comment.author != null}" th:text="${comment.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a th:href="@{|/comment/update/${comment.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.username}"
                   th:text="수정"></a>
                <a th:data-uri="@{|/comment/delete/${comment.id}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>
    <!-- 댓글 반복 끝  -->
    <!-- 댓글 작성 -->
<!--    <form th:action="@{|/comment/create/${board.id}|}" th:object="${commentForm}" method="post" class="my-3">-->
<!--        <div th:replace="~{form_errors :: formErrorsFragment}"></div>-->
<!--        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control" rows="10"></textarea>-->
<!--        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>-->
<!--        <input type="submit" value="댓글등록" class="btn btn-primary my-2">-->
<!--    </form>-->
</div>
</html>