<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3" style="text-align:center;">
        <img src="/image/logo/mainlogo.png" style="width:30%;">
    <div class="input-group" style="width:50%; margin: 0 auto; ">
        <input type="text" id="summoner_keyword" class="form-control" placeholder="소환사를 검색하세요!" th:value="${keyword}">
        <button onclick="searchSummoner()" class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
    function searchSummoner(){
        var value = document.getElementById('summoner_keyword').value;
            if (value) {
                window.location.href = "/summoner/" + value;
            } else {
                alert("소환사명을 입력하세요!");
            }
    }
</script>
</html>