
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
<!--        <div class="container py-5 h-100">-->
<!--            <div class="row d-flex justify-content-center align-items-center h-100">-->
<!--                <div class="col col-md-9 col-lg-7 col-xl-5">-->
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-4">
                            <div class="d-flex text-black">
                                <div class="flex-shrink-0">
<!--                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"-->
                                    <img th:src="${profileUrl}"
                                         alt="Generic placeholder image" class="img-fluid"
                                         style="width: 180px; border-radius: 10px;">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="mb-1" th:text="${summonerInfo.name}">Danny McLoan</h5>
                                    <p class="mb-2 pb-1" style="color: #2b2a2a;" th:text="|LEVEL ${summonerInfo.summonerLevel}|"></p>
                                    <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                                         style="background-color: #efefef;">
                                        <div>
                                            <p class="small text-muted mb-1">티어</p>
                                            <p class="mb-0" th:text="|${entryInfo.tier} ${entryInfo.rank}|"></p>
                                        </div>
                                        <div class="px-3">
                                            <p class="small text-muted mb-1">승</p>
                                            <p class="mb-0" th:text="${entryInfo.wins}"></p>
                                        </div>
                                        <div>
                                            <p class="small text-muted mb-1">패</p>
                                            <p class="mb-0" th:text="${entryInfo.losses}"></p>
                                        </div>
                                    </div>
<!--                                    <div class="d-flex pt-1">-->
<!--                                        <button type="button" class="btn btn-outline-primary me-1 flex-grow-1">전적 갱신</button>-->
<!--                                        <button type="button" class="btn btn-primary flex-grow-1">티어그래프</button>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

    <!--    <p>${summoner}</p>-->
<!--    <img alt="아이콘" src=${imgURL}>-->
</div>
</html>