<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">

    <div class="card" style="border-radius: 15px;">
        <div class="card-body p-4">
            <div class="d-flex text-black">
                <div class="flex-shrink-0">
                    <img th:src="${summonerInfo.profileImg}"
                         alt="Generic placeholder image" class="img-fluid"
                         style="width: 180px; border-radius: 10px;">
                </div>
                <div class="flex-grow-1 ms-3">
                    <h5 class="mb-1" th:text="${summonerInfo.name}">Danny McLoan</h5>
                    <p class="mb-2 pb-1" style="color: #2b2a2a;" th:text="|LEVEL ${summonerInfo.summonerLevel}|"></p>
                    <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                         style="background-color: #efefef;">
                        <div>
                            <p class="small text-muted mb-1">티어</p>
                            <p class="mb-0" th:text="|${entryInfo.tier} ${entryInfo.rank}|"></p>
                        </div>
                        <div class="px-3">
                            <p class="small text-muted mb-1">승</p>
                            <p class="mb-0" th:text="${entryInfo.wins}"></p>
                        </div>
                        <div>
                            <p class="small text-muted mb-1">패</p>
                            <p class="mb-0" th:text="${entryInfo.losses}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card" style="padding: 5px;">
        <table>
            <tbody style="border-radius: 15px;">
            <tr th:each="match, loop : ${playerRecords}" th:style="${match.participantDto.win} == false ? 'background: #FFD8D9; border-radius: 15px;'  : 'background: #D5E3FF; border-radius: 15px;' ">
                <td><img th:src="${match.participantDto.championImg}" class="img-fluid" style="width: 70px; border-radius: 15px; margin:10px"></td>
                <td th:text="${match.participantDto.win} ? '승리': '패배'"></td>
                <td th:text="${match.gameMode}"></td>
                <td th:text="${match.gameDuration}"></td>
                <td th:text="|${match.participantDto.kills} / ${match.participantDto.deaths} / ${match.participantDto.assists}|"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>